.assistants {
    background-color: var(--color-background-item);
    height: 100%;
    overflow: hidden;
    margin: 0;
    .ant-spin-nested-loading {
        height: 100% !important;
        overflow: hidden;
    }

    .craftingThePerfect1 {
        // width: 100%;
        padding: 20px;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: Inter;
        color: var(--color-text-secondary);
        text-align: left;
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-divider);
    }

 


}

.a {
    margin-right: 10px
}


.retrieval-model {
    :global {
        .ant-modal-body {
            padding: 0 24px;
            background-color: var(--color-background-item);
        }

        .ant-modal-footer {
            height: 70px;
            text-align: start;
        }
    }

    .cancelButton {
        margin-right: 10px;
    }
}

.ant-select {
    width: 100%;
}

.desc-completion-model {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Inter;
    color: var(--color-negative) !important;
    text-align: left;
}

.assistants {
    width: 100%;
    margin:0;
    .spinloading {
        padding: 0 24px;
        height: 100% !important;

        :global {
            .ant-spin-container {
                height: 100% !important;
            }
        }
    }
}

.table-custom {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100% !important;
    }

    border: 1px solid var(--color-divider) !important;
    border-radius: 8px !important;
    margin-bottom: 30px;
}

.ant-table-empty {
    .ant-table-content {
        border: 1px solid var(--color-divider);
        border-radius: 8px;
    }

    .ant-table-cell {
        border: none !important;
    }
}

.display-none {
    display: none !important;
}

.img-icon-close {
    g {
       path {
        stroke:var(--color-text-primary);
       }
    }
    height: 27px;
    min-width: 27px;
}

.drawer-assistants {
    :global {
        .ant-drawer-header {
            .ant-drawer-header-title {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                .ant-drawer-close {
                    margin-inline-end: 0;
                }
            }

        }

        .ant-drawer-body {
            padding: 0;
            overflow-x: hidden;
            background-color: var(--color-background-item);
        }

        .ant-drawer-footer {
            display: flex;
            justify-content: flex-end;
        }

    }

    .button {
        margin-left: 10px
    }
}
.popover-eidt {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    color: var(--color-text-primary)

}
.popover-eidt:hover,.popover-delete:hover {
    background-color: var(--color-background-hover);
} 
.popover-delete {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    margin-top: 4px;
    color: var(--color-negative);
}

.drawer-action {
    :global {
        .ant-drawer-header {
            .ant-drawer-header-title {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                .ant-drawer-close {
                    margin-inline-end: 0;
                }
            }
        }
    }
}