.login {
    border: 2px solid var(--color-divider);
    padding: 36px;
    margin: auto;
    min-width: 540px;
    border-radius: 16px;
    font-family: var(--text-single-100-regular);
    background-color: var(--color-background);
    .content-divider {
        display: flex;
        align-items: center;

        .divider {
            width: 45%;
            height: 1px;
            background-color: var( --color-text-disable );
            opacity: 0.5;
        }

        .or {
            margin: 0 24px;
            color: var( --color-text-disable );
        }
    }

    .social_btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-divider);
        border-radius: 6px;
        height: 38px;
        cursor: pointer;
        margin-top: 12px;
        font-size: 16px;
        font-family: Inter;
        color: var( --color-text-primary );

        .social-icon {
            margin-right: 8px;
            width: 21px;
            height: 21px;
        }
    }

    .social_btn:hover {
        color: var( --color-text-primary );
        border: 1px solid var(--color-divider);
        background-color: var(--color-background-hover);
    }

    .img {
        height: 20px;
        width: 20px;
    }

    .submit-btn {
        text-align: center;
        background-color: var(--color-positive);
        width: 100%;
        height: 40px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
        box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px;
        border: 1px solid var(--color-divider) !important;
        border-radius: 8px;
        gap: 8px;
        margin: auto;
        padding: 12px 18px;
        color: var(--color-invert-text);
        font-family: "Inter", Helvetica;
        font-weight: 600;
    }

    .submit-btn:hover {
        opacity: 0.9;
        color: var(--color-invert-text) !important;
        border: 1px solid var(--color-divider) !important;
        background-color: var(--color-positive-hover) !important;
    }

    .welcome-font {
        position: relative;
        font-size: 24px;
        line-height: 29px;
        font-family: Inter;
        font-weight: bold;
        color: var( --color-text-primary );
        text-align: left;
        margin-top: 18px;
        margin-bottom: 24px;
    }


    .account {
        text-align: center;
        height: 30px;
        font-size: 16px;
        color: var(--color-text-primary);
        margin-bottom: 12px;
    }

    .img-google {
        width: 20px;
        height: 20px;
    }

    .ai-header {
        display: flex;
        align-items: center;

        .img-ai {
            width: 30px;
            height: 30px;
            margin-right: 10px
        }
        .title {
            font-size: 18px;
            color: var(--color-text-primary);
            font-weight: 500;
            line-height: 22px;
            margin-left: 6px;
        }
    }

   

    .input-edit {
        height: 38px;
    }


}