.modal-table {
    margin-top: 24px;
    margin-bottom: 10px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    .table-border {
        border: 1px solid var(--color-clear-button-hover);
        flex: 1;
        border-radius: 8px;
        background-color: white;
        height: calc(100% - 76px);
        position: relative;

        .empty-table {
            height: calc(100% - 76px);
        }

        :global {
            .ant-table-wrapper .ant-table-thead>tr>th {
                font-weight: 400 !important;
                font-size: 14px !important;
            }

            .ant-table-wrapper {
                height: calc(100% - 76px);
                font-weight: 400 !important;

                .ant-spin-nested-loading {
                    height: 100% !important;

                    .ant-spin-container {
                        height: 100% !important;

                        .ant-table {
                            height: 100% !important;

                            .ant-table-container {
                                height: 100% !important;

                                .ant-table-header {
                                    table {
                                        .ant-table-thead {
                                            tr {
                                                th::before {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }

                                .ant-table-body {
                                    height: calc(100% - 60px) !important;
                                    max-height: calc(100% - 60px) !important;
                                }
                            }
                        }

                        .ant-table-empty {
                            height: 100% !important;

                            .ant-table-container {
                                height: 100% !important;

                                .ant-table-body {
                                    min-height: calc(100% - 60px) !important;

                                    table {
                                        height: 100% !important;
                                        min-height: 100% !important;

                                        .ant-table-placeholder {
                                            height: 100% !important;
                                            box-sizing: border-box
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

    }

    .header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        :global {
            .ant-input {
                flex: 1
            }

            .ant-btn {
                margin: 0 10px;
            }
        }

        .select-name {
            width: 110px !important;
        }

        .select-data {
            width: 160px !important;
        }

        .header-new {
            display: flex;
            justify-content: flex-end;

            .plusParent {
                display: flex;
            }
        }

        .input-name {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .select-name {
            :global {
                .ant-select-selector {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: none;
                    border: 1px solid var(--color-divider);
                    border-right: none !important;

                }
            }
        }

        .select-name:hover {
            :global {
                .ant-select-selector {
                    border: 1px solid #099250;
                    border-right: 1px solid #099250 !important;
                }
            }
        }
    }

    .header-news {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;

        .plusParent {
            display: flex;
        }
    }

    .footer {
        position: absolute;
        bottom: 10px;
        display: flex;
        background-color: white;
        padding-top: 10px;
        border-top: 1px solid var(--color-clear-button-hover);
        width: 100%;
        justify-content: center;
        align-items: center;

        :global {
            .ant-pagination {
                display: flex;
                align-items: center;
            }
        }

        :global {
            .ant-pagination-prev {
                display: none;
            }

            .ant-pagination-item-link {
                display: none;
            }

            .ant-pagination-next {
                display: none;
            }

            .ant-pagination-item {
                display: none;
            }

            .ant-btn-default:hover {
                color: var( --color-text-primary );
                border: 1px solid var(--color-divider);

            }

            .ant-btn-default:disabled {
                border: 1px solid var(--color-divider);
                color: var( --color-text-disable );
            }

        }


        .previous-button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid var(--color-divider);
            border-right: none;
            width: 96px;
            height: 40px;
            color: var( --color-text-disable );
            background-color: white;
            border: 1px solid var(--color-divider);

            div {
                display: none;
            }
        }



        .next-button-group {
            border-top-left-radius: 0;
            width: 96px;
            height: 40px;
            color: var( --color-text-disable );
            background-color: white;

            border: 1px solid var(--color-divider);
            border-bottom-left-radius: 0;

            div {
                display: none;
            }
        }
        .able-click-button {
            color: var( --color-text-primary);
       
        }
       .able-click-button:hover {
        background-color: var(--color-clear-button-hover);
       }
        :global {
            .ant-pagination-options {
                height: 40px !important;

                .ant-pagination-options-size-changer {
                    height: 40px;
                    width: 116px;

                    .ant-select-selector {
                        height: 40px;
                        width: 116px;
                        display: flex;
                        padding: 12px;
                        align-items: center;
                        border: 1px solid var(--color-divider);

                        .ant-select-selection-search-input {
                            height: 100%;
                        }

                        .ant-select-selection-item {
                            padding-right: 12px;
                            width: 62px;
                        }
                    }
                }
            }
        }

    }

    .footer-position {
        position: absolute;
        display: flex;
        margin-top: 16px;
        justify-content: center;

        :global {
            .ant-pagination-prev {
                display: none;
            }

            .ant-pagination-item-link {
                display: none;
            }

            .ant-pagination-next {
                display: none;
            }

            .ant-pagination-item {
                display: none;
            }

            .ant-pagination-options {
                height: 40px !important;

                .ant-pagination-options-size-changer {
                    height: 40px;
                    width: 116px;

                    .ant-select-selector {
                        height: 40px;
                        width: 116px;
                        border: 1px solid var(--color-divider);

                        display: flex;
                        padding: 12px;
                        align-items: center;

                        .ant-select-selection-search-input {
                            height: 100%;
                        }

                        .ant-select-selection-item {
                            padding-right: 12px;
                            width: 62px;
                        }
                    }
                }
            }
        }


    }

    .retrieval-model {
        :global {
            .ant-modal-body {
                padding: 24px;
            }
        }

    }
}

.prompt-button {
    background-color: #099250;
    color: white;
    margin: 0px;
    height: 32px;
    padding: 2px 10px;
}

.prompt-button:hover {
    color: var(--color-invert-text) !important;
    cursor: pointer;
    background-color: var(--color-positive-hover) !important;
    border: 1px solid transparent !important;
    outline: none;
    box-shadow: none;
}

:global {
    .ant-table-body {
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }

    .ant-table-body:hover {
        scrollbar-color: #bbb transparent;
    }

    .ant-table-body::-webkit-scrollbar {
        width: 6px;
    }

    .ant-table-body::-webkit-scrollbar-track {
        background: transparent;
    }

    .ant-table-body::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .ant-table-body:hover::-webkit-scrollbar-thumb {
        background: #bbb;
        height: 6px;
        width: 3px;
    }

}