Fastapi==0.109.1
uvicorn==0.23.2
aiohttp==3.9.2
PyJWT==2.8.0
python-multipart==0.0.7
openapi_spec_validator==0.7.1
APScheduler==3.10.4
python-dotenv==1.0.0
gunicorn==21.2.0
asyncio==3.4.3
python_dateutil==2.8.2
pycryptodome==3.20.0
bcrypt==4.0.1
asyncpg==0.28.0
aioredis==2.0.1
tiktoken==0.5.2
numpy==1.26.3

# tests
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-ordering==0.6
