.plugin-fun {
    background-color: white;

    .superchargeYourInstances1 {
        align-self: stretch;
        position: relative;
        line-height: 24px;
        font-weight: 500;
    }

    .superchargeYourInstancesWitParent {
        width: 100%;
        position: relative;
        background-color: var(--color-invert-text);
        padding: 20px;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        // padding: 24px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 16px;
        color: #777;
        font-family: Inter;
    }

    .header-prompts {
        display: flex;
        justify-content: flex-end;
        margin: 24px;
        // .form {
        //     display: flex;
        // }

        .plusParent {
            display: flex;
            cursor: pointer;

            .arrowSyncParent {
                height: 100%;
                position: relative;
                border-radius: 8px;
                border: 1px solid var(--color-divider);
                box-sizing: border-box;
                // width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 12px;
            }

            .arrowSyncParent:hover {
                background-color: #f5f5f5;
            }

            .prompt-button {
                background-color: --color-positive;
                color: white;
                margin-left: 10px;
                height: 40px;
            }

            .prompt-button:hover {
                color:var(--color-invert-text) !important;
                cursor: pointer;
                background-color: var(--color-positive-hover);
                border: 1px solid transparent;
            }
        }
    }

    .ant-table-wrapper {
        // padding: 0 24px;
    }
}

.plugin-drawer {
    .ant-table-cell::before {
        width: 0px !important;
    }
}

.plugin-drawer {
    .label-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        // margin-top: 24px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
    }

    .span {
        color: var(--color-negative);
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-top: 24px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
    }

    .label-description {
        width: 100%;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: #777;
        text-align: left;
        display: inline-block;
    }

    .input-drawer {
        margin: 10px 0;
    }

    .tip-error {
        opacity: 0;
        transition: opacity 0.5s ease;
        color: var(--color-negative);
    }

    .tip-error.show {
        opacity: 1;
        color: var(--color-negative);

    }

    .table-drawer {
        margin-top: 10px;
    }

    .add-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .ant-btn {
            width: 50px;
            padding: 0 !important;
            border: none;

            .ant-btn-icon {
                margin-inline-end: 0 !important;
            }
        }

        .ant-btn:hover {
            background-color: white !important;
            border: none !important;
            color: black !important;
        }

        .ant-btn:active {
            background-color: white !important;
            border: none !important;
        }

        .ant-btn:visited {
            background-color: white !important;
            border: none !important;
        }
    }
}

.plugin-fun>.ant-spin-nested-loading>.ant-spin-container {
    padding: 0 24px;
}

.table-custom {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100% !important;
    }

    border: 1px solid #eee !important;
    border-radius: 8px !important;
    margin-bottom: 30px;

}

.ant-table-empty {
    .ant-table-content {
        border: 1px solid #eee;
        border-radius: 8px;
    }

    .ant-table-cell {
        border: none !important;
    }
}
.img-icon-close{
    height: 27px;
}