:global {
    .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
            height: 100%;
            overflow: hidden;
        }
    }
}

.playground {
    display: flex;
    height: 100%;

    .left-content {
        flex: 0 0 350px;
        display: flex;
        flex-direction: column;
        max-width: 350px;
        min-width: 350px;
        width: 350px;
        border-right: 1px solid #eee;

        .top {
            border-bottom: 1px solid #eee;
            padding: 24px;

            .select {
                width: 85%;
                margin-right: 8px;
                // margin-bottom: 10px;
            }

            :global {
                .ant-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .edit-button:hover {
                border: 1px solid var(--color-divider) !important;
                color: var(--color-text-primary) !important;
                background-color: var(--color-invert-text);
            }

            .disabled {
                background-color: #eee;
                color: #bfbfbf !important;
                background-color: #eee !important;
                border: 1px solid var(--color-divider) !important;
            }
        }

        .bottom {
            padding: 10px 0px 24px 24px;
            flex: 1;
            height: calc(100% - 111px);
            display: flex;
            flex-direction: column;

            .bottom-chats {
                display: flex;
                align-items: center;
                padding-right: 24px;
                justify-content: space-between;

                .arrowicons {
                    position: relative;
                    width: 18px;
                    height: 18px;
                    overflow: hidden;
                    flex-shrink: 0;
                }

                .text1 {
                    position: relative;
                }

                .actionbuttondownload {
                    position: relative;
                    cursor: pointer;
                    border-radius: 8px;
                    background-color: var(--color-invert-text);
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    // width: 100%;
                    height: 34px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 6px 8px;
                    gap: 4px;
                    text-align: left;
                    font-size: 14px;
                    color: var(--color-text-primary);
                    font-family: Inter;
                }
            }

            .chats {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                height: calc(100% - 34px);

                .chat-message {
                    flex: 1;
                    overflow: auto;
                    padding-right: 18px;
                    height: calc(100% - 74px);
                }

                .chat-message::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                .chat-message:hover::-webkit-scrollbar-thumb {
                    border-radius: 6px;
                    background: #bbb;
                }

                .frameChild {
                    flex: 1;
                    position: relative;
                    background-color: var(--color-divider);
                    border-top: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    height: 1px;
                }

                .noPreviousChat1 {
                    position: relative;
                }

                .text1 {
                    position: relative;
                    color: var(--color-text-primary);
                }

                .formbuttoncancel {
                    border-radius: 8px;
                    background-color: var(--color-invert-text);
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    height: 34px;
                    cursor: pointer;
                    overflow: hidden;
                    display: flex;
                    color: var(--color-text-primary);
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 8px 12px;
                }

                .lineParent {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    height: 37px;
                    box-sizing: border-box;
                    gap: 10px;
                    text-align: left;
                    font-size: 14px;
                    color: #bfbfbf;
                    font-family: Inter;
                }
            }

            .functionalicons {
                position: relative;
                width: 18px;
                height: 18px;
                overflow: hidden;
                flex-shrink: 0;
            }

            .son {
                position: relative;
            }

            .son1 {
                position: relative;
                line-height: 20px;
            }

            .Parent {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 4px;
            }

            .functionaliconsParent {
                // overflow: auto;
                width: 100%;
                cursor: pointer;
                // height: calc(100% - 100px);
                position: relative;
                border-radius: 8px;
                margin-top: 10px;
                background-color: var(--color-invert-text);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 12px;
                box-sizing: border-box;
                gap: 8px;
                text-align: left;
                font-size: 14px;
                color: #777;
                font-family: Inter;
            }

            .functionaliconsParent:hover {
                background-color: rgba(0, 0, 0, 0.06);
                color: rgba(0, 0, 0, 0.88);

                svg path {
                    stroke: rgba(0, 0, 0, 0.88);
                }
            }

            .functionaliconsParent.chatId {
                color: var(--color-primary);
                background-color: #f3f8f6;
                cursor: auto;

                svg path {
                    stroke: var(--color-primary);
                }
            }

        }

        .select-assistant {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            font-family: Inter;
            color: var(--color-text-primary);
            text-align: left;
            margin-bottom: 10px;
        }

        .select-desc {
            width: 100%;
            position: relative;
            font-size: 14px;
            font-family: Inter;
            margin-bottom: 10px;
            color: #777;
            text-align: left;
            display: inline-block;
        }

        .three {
            margin-top: 20px
        }
    }

    .right-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;

        .header-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            padding: 16px 24px;

            .header-left {
                display: flex;
                align-items: center;

                .chat {
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: Inter;
                    color: var(--color-text-primary);
                    text-align: left;
                    margin-right: 10px;
                }

                .desc {
                    position: relative;
                    font-size: 14px;
                    font-family: Inter;
                    color: #777;
                    text-align: left;
                    margin-right: 5px;
                }
            }

            .header-right {
                cursor: pointer;
                width: 114px;
                height: 34px;

                :global {
                    .ant-btn {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }


                // .disabled {
                //     background-color: #eee;
                //     color: #bfbfbf !important;
                //     background-color: #eee !important;
                //     border: 1px solid var(--color-divider !important;
                // }
            }
        }

        :global {
            .ant-spin-nested-loading {
                height: calc(100% - 222px);
            }
        }


        .content-center {
            overflow: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: calc(100vh - 300px);
            min-height: calc(100vh - 300px);

            .content-img {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .waiting-for-configuration {
                position: relative;
                font-size: 28px;
                line-height: 44px;
                font-weight: 600;
                font-family: Inter;
                color: var(--color-divider);
                text-align: left;
            }
        }

        .content-talk {
            padding: 24px;
            overflow: auto;
            height: 100%;
            box-sizing: border-box;
            height: calc(100% - 40px);
            // max-height: 580px;

            // border:1px solid #eee;
            .message {
                width: 100%;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 4px;
                text-align: left;
                font-size: 12px;
                color: var(--color-text-primary);
                font-family: Inter;
                margin-top: 10px;

                // .loading-icon {
                //     color: #ffbb58;

                //     svg {
                //         width: 18px;
                //         height: 18px;
                //     }

                //     margin-right: 6px;
                // }


                .green {
                    color: var(--color-positive);
                    display: flex;
                    align-items: center;
                }


                .orange {
                    color: #ffbb58;
                }

                .lastItem {
                    width: 100%;
                    font-size: 12px;
                    font-family: Inter;
                    color: var(--color-text-primary);
                    cursor: text !important;
                }

                .subText1 {
                    position: relative;
                    font-size: 12px;
                    font-family: Inter;
                    color: var(--color-text-primary);
                    text-align: left;
                    font-weight: bold;
                }

                .text1 {
                    width: 100%;
                    position: relative;
                    font-size: 12px;
                    font-family: Inter;
                    color: var(--color-text-primary);
                    text-align: left;
                    white-space: pre-wrap;
                    display: inline-block;
                }

                .user {
                    position: relative;
                    font-size: 12px;
                    font-family: Inter;
                    color: #777;
                    font-weight: bold;
                    text-align: left;
                }

                .userInfo {
                    width: 100%;
                    position: relative;
                    font-size: 12px;
                    font-family: Inter;
                    color: #777;
                    text-align: left;
                    display: inline-block;
                }


            }

            .frameChild {
                flex: 1;
                position: relative;
                background-color: var(--color-divider);
                border-top: 1px solid var(--color-divider);
                box-sizing: border-box;
                height: 1px;
            }

            .noPreviousChat1 {
                position: relative;
            }

            .lineParent {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px;
                height: 37px;
                box-sizing: border-box;
                gap: 10px;
                text-align: left;
                font-size: 14px;
                color: #bfbfbf;
                font-family: Inter;

                .formbuttoncancel {
                    border-radius: 8px;
                    background-color: var(--color-invert-text);
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    height: 34px;
                    cursor: pointer;
                    overflow: hidden;
                    display: flex;
                    color: var(--color-text-primary);
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 8px 12px;
                }
            }
        }

        .content-bottom {
            position: absolute;
            border: 1px solid #eee;
            padding: 24px;
            bottom: 24px;
            right: 24px;
            border-radius: 8px;
            width: calc(100% - 48px);

            .textarea {
                border: none;
                outline: none !important;
                box-shadow: none;
                margin-bottom: 10px;
            }

            :global {
                .textarea.ant-input {
                    border: none;
                }
            }


            .button-group {
                display: flex;
                justify-content: space-between;

                .button1 {
                    margin-left: 12px
                }

                .button {
                    margin-right: 12px;
                }

                .text1 {
                    position: relative;
                    color: var(--color-text-primary);
                }

                .loading {
                    opacity: 0.5;
                }

                .formbuttoncancel {
                    border-radius: 8px;
                    background-color: var(--color-invert-text);
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    height: 34px;
                    cursor: pointer;
                    overflow: hidden;
                    display: flex;
                    color: var(--color-text-primary);
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 8px 12px;
                }

                .formbuttoncancel:hover {
                    border: 1px solid var(--color-divider);
                    color: var(--color-text-primary);
                    background-color: #eee;
                }

                .functionalicons {
                    position: relative;
                    width: 18px;
                    height: 18px;
                    overflow: hidden;
                    flex-shrink: 0;
                }

                .actionbuttonedit {
                    position: relative;
                    border-radius: 8px;
                    background-color: var(--color-invert-text);
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    // width: 100%;
                    cursor: pointer;
                    height: 34px;
                    overflow: hidden;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 6px 8px;
                }
            }
        }

        .none {
            display: none;
        }
    }
}

.assistant-drawer {
    :global {
        .ant-drawer-body {
            padding: 0;
            overflow-x: hidden;
        }
    }

}

#lottie-container {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.message-success {
    margin-right: 6px;
}

.action-drawer {
    .label-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        // margin-top: 24px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
    }

    .span {
        color: var(--color-negative);
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
    }

    .label-description {
        width: 100%;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: #777;
        text-align: left;
        display: inline-block;
    }

    .desc-description {
        color: #777;
    }

    .input-drawer {
        margin: 10px 0;
    }

    .error {
        opacity: 0;
        transition: opacity 0.5s ease;
        color: var(--color-negative);

        &.show {
            opacity: 1;
        }
    }

    .tip-error {
        @extend .error;
    }

    .desc-action-error {
        @extend .error;
    }

    .table-drawer {
        margin-top: 10px;
    }

    .valid-schema {
        color: var(--color-positive);
        cursor: pointer;
    }
}


.model1 {
    :global {
        .ant-modal-content {
            .ant-modal-body {
                padding: 0 24px;
                overflow: auto;
            }
        }
    }

}

.setting-modal {
    width: 346px;
    height: 491px;
    padding: 24px;
    background-color: var(--color-invert-text);
    border: 1px solid var(--color-divider);
    border-radius: 8px;
    position: absolute;
    right: 30px;
    bottom: 60px;

    .generation-options {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        font-family: Inter;
        color: var(--color-text-primary);
        text-align: left;
    }

    .desc {
        width: 100%;
        position: relative;
        font-size: 14px;
        font-family: Inter;
        color: #777;
        text-align: left;
        display: inline-block;
        margin: 8px 0;
    }

    .select-assistant {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        font-family: Inter;
        color: var(--color-text-primary);
        text-align: left;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    :global {
        .ant-input {
            height: 300px !important;
        }
    }

}

.content-drawer {
    margin-bottom: 24px;

    .content {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;

    }

    :global {
        .ant-input.ant-input-disabled {
            border-radius: 8px;
            color: #777;
            background-color: white;

        }
    }


}

.collapse-drawer {
    margin-top: 24px
}

.cancelButton {
    margin-right: 10px;
}

.retrieval-model {
    :global {
        .ant-modal-body {
            padding: 0 24px;
        }

        .ant-modal-footer {
            height: 70px;
            text-align: start;
        }
    }

    .cancelButton {
        margin-right: 10px;
    }
}

.selectAssistant {
    margin: auto;
    width: 192px;
    margin-top: calc(50vh - 80px);
    height: 161px;

    .svg {
        width: 192px;
    }

    .select-assistant {
        position: relative;
        font-size: 14px;
        font-family: Inter;
        color: #bfbfbf;
        text-align: left;
        width: 192px;
        margin-bottom: 12px;
    }

    .header-news {
        display: flex;
        width: 192px;
        justify-content: center;

        .plusParent {
            display: flex;
        }

        .prompt-button {
            background-color: var(--color-positive);
            color: white;
            margin: 0px;
            height: 32px;
            padding: 2px 10px;
        }

        .prompt-button:hover {
            background-color: var(--color-positive-hover);
            color: white;
            border: 1px solid transparent !important;
        }
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    width: 18px;
    height: 18px;

    svg {
        width: 18px;
        height: 18px;
    }

    margin-right: 6px;
    animation: rotate360 1s linear infinite;
}

.drawerCreate {
    :global {
        .ant-drawer-header {
            .ant-drawer-header-title {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                .ant-drawer-close {
                    margin-inline-end: 0;
                }
            }
        }
    }
}