.actions {
    background-color: var(--color-background-item);
    height: 100%;

    .ant-spin-nested-loading {
        height: 100% !important;
    }
}
.drawerCreate{
    :global {
        .ant-drawer-header {
            .ant-drawer-header-title {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                .ant-drawer-close{
                    margin-inline-end:0;
                }
            }
        }
    }
}


.actions {
    .spinloading {
        padding: 0 24px;
        overflow: hidden;
        height: 100% !important;

        :global {
            .ant-spin-container {

                height: 100% !important;
            }
        }
    }
}
.table-custom {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100% !important;
    }

    border: 1px solid var(--color-divider) !important;
    border-radius: 8px !important;
    margin-bottom: 30px;

}

.ant-table-empty {
    .ant-table-content {
        border: 1px solid var(---color-divider);
        border-radius: 8px;
    }

    .ant-table-cell {
        border: none !important;
    }
}

.img-icon-close {
    height: 27px;
    min-width: 27px;
    g {
        path {
          stroke: var(--color-text-primary);
        }
      }
}