.plugin-modal {
    overflow-y: auto;

    :global {
        .ant-modal-content {
            overflow-y: auto;
          }
        .ant-modal-body {
            padding:  0px;
            height: 772px;
            background-color: var(--color-item-background);
            overflow: auto;
        }
        .ant-collapse {
            background-color: #fff;

            .ant-collapse-item {
                .ant-collapse-header {
                    height: 113px;
                    padding: 0;

                    .ant-collapse-header-text {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }

                .ant-collapse-content {
                    .ant-collapse-content-box {
                        padding: 0;
                    }
                }
            }
        }
    }
}
.no-data {
    width: 169px;
    margin: auto;
    margin-top: 250px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .desc {
        font-size: 14px;
        font-family: Inter;
        color: #bfbfbf;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .prompt-button {
        background-color: var(--color-positive);
        color: white;
        margin-left: 10px;
        height: 40px;
    }

    .prompt-button:hover {
        color: var(--color-invert-text) !important;
        cursor: pointer;
        background-color: var(--color-positive-hover);
        border: 1px solid transparent;
    }
}
.content {
    height: 674px;
    padding: 24px 24px 0 24px;
    border-bottom: 1px solid #e4e4e4;
    overflow: auto;
}
.content::-webkit-scrollbar {
    display: none;
}
.pluginCollapse {
    margin-bottom: 24px;
}
.bundle {
    padding: 12px;
    display: flex;
    width: calc(100% - 24px);
    height: 89px;
    justify-content: space-between;
.img{
    width: 36px;
    height: 36px;
}
    .right {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        width: 1200px;

        .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            font-family: Inter;
            color: #2b2b2b;
            line-height: 17px;
            margin-bottom: 12px;
        }

        .desc {
            width: 100%;
            height: 100%;
            position: relative;
            font-size: 14px;
            height: 33px;
            font-family: Inter;
            color: #777;
            text-align: left;
            display: inline-block;
            margin-bottom: 12px;
        }

        .time {
            font-size: 12px;
            line-height: 15px;
            font-family: Inter;
            color: #777;
            line-height: 15px;
        }
    }
}

.plugin-list {
    padding: 0;

    .pluginSingle {
        cursor: pointer;
        box-sizing: border-box;
        height: 66px;
        padding: 12px 12px 12px 60px;
        outline: 1px solid #e4e4e4;
        

        .pluginName {
            font-size: 12px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #2b2b2b;

            .selectedName {
                color: #087443;
            }
        }

        .pluginDesc {
            font-size: 12px;
            color: #777;
        }
    }

    .selectItem {
        outline: 2px solid #09914f;
    }

    .selectedItem {
        background-color: #FAFAFA;
        opacity: 0.3;
        cursor: not-allowed;
    }
}