.title{
    font-size: 18px !important;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 10px;
    width: 100%;
    font-family: Inter;
}
.modal {
    // padding: 20px;
    // margin: 20px 0;

    .required-label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        // font-weight: 600;
        font-family: Inter;
        text-align: left;
        color: #2b2b2b;
        .required-span {
            color: #ec1943;
        }
    }
    .project-indu {
        width: 100%;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: #777;
        text-align: left;
        display: inline-block;
    }
    .input-top{
margin-bottom: 24px;
margin-top: 8px;
    }
    .input{
        margin: 8px 0 5px 0;
    }
}
// .ant-modal-content {
//     padding: 0 !important;
//     height: 320px;
//     .ant-modal-header {
//         padding: 10px 24px;
//         border-bottom: 1px solid #eee;
//         display: flex;
//         align-items: center;
//     }
//     .ant-modal-body{
//         border-bottom: 1px solid #eee;
//     }
//     .ant-modal-footer{
//         margin:20px 20px;
//     }
// }