.delete-modals {
    :global {
        .ant-modal-content {
            .ant-modal-body {
                padding: 24px;
            }
        }
    }
    .p {
        line-height: 17px;
        margin: 0;
    }
}
.button {
    margin-left:10px
}