.delete-modals {
    :global {
        .ant-modal-content {
            .ant-modal-body {
                padding: 24px;
                background-color: var(--color-item-background);
            }
        }
    }

    .p {
        line-height: 1;
        margin: 0;
    }
}
.button {
    margin-left:10px
}