.ant-drawer-body {
    overflow: hidden;
    background-color: var(--color-item-background);
}
.drawer-assistant {
    width: 100%;
    display: flex;
    height: 100%;
    overflow: auto;
    background-color: var(--color-item-background);

    overflow: hidden;
    .left-assistant {
        border-right: 1px solid var(--color-divider);
        width: 640px;
        padding-bottom: 24px;
        overflow: auto;

    }
.left-assistant::-webkit-scrollbar {
    display: none;
}
    .right-assistant {
        width: 640px;
        overflow: auto;
        .hr {
            border-bottom: 1px solid var(--color-divider);
            margin: 24px -10px 0 0;
            height: 1px;
        }

        .retrieval-list {
            display: flex;
            padding: 0 24px;
            margin-bottom: 10px;

            .retrieval-type {
                width: 130px;
            }
        }
    }
    .right-assistant::-webkit-scrollbar {
        display: none;
    }
    .basic-information {
        color: var( --color-text-primary );
        font-size: 18px;
        font-weight: 600;
        margin: 24px;
    }

    .name-prompt {
        // font-weight: bold;
        font-size: 16px;
        font-family: Inter;
        color: var(--color-text-primary);
        margin: 24px 24px 10px 24px;
    }

    .input {
        margin: 0 24px;
       
        width: calc(100% - 48px) !important;
    }

    .desc-prompt {
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 20px;
    }

    .input-double {
        display: flex;
        justify-content: space-between;
        margin: 8px 24px 0 24px;

        .input-children {
            width: calc(50% - 12px);
            display: flex;
        }
        .input-children1 {
            width: calc(50% - 12px);
            display: flex;
            justify-content: flex-end;
        }
        // .ant-input-number {
        //     width: 49%;
        // }
        .ant-input-number {
            border-top-left-radius: 0;
           flex:1;
            border-bottom-left-radius: 0;
        }
    }

    .ant-select {
        width: 100%;
    }

    .desc-retrieval {
        // font-weight: bold;
        color: var(--color-text-primary);
        margin: 24px 24px 3px 24px;
        font-size: 16px;
        line-height: 20px;
        font-size: 16px;
        font-family: Inter;

    }

    .span {
        color: var(--color-negative);
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        // font-weight: 600;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
        margin: 20px 24px 10px 24px !important;
    }


    .label-desc {
        width: calc(100% - 48px) !important;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: #777777;
        text-align: left;
        display: inline-block;
        margin: 0 24px 10px 24px;

        .referToThe {
            text-decoration: underline;
        }
    }

    .referToTheDocumentationFor {
        color: #777777;
        text-decoration: underline;

    }

    .hr {
        border-bottom: 1px solid var(--color-divider);
        margin: 24px 0px 0 0;
        height: 1px;
    }

    .input-bottom {
        margin-bottom: 24px;
    }

    .add-bottom {
        display: flex;
        justify-content: space-between;
        margin: 10px 24px 0 24px;

        .ant-btn {
            width: 63px;
            padding: 0 6px !important;
            height: 30px;
            border: none;
            box-shadow: none;
            background-color: var(--color-item-background) !important;

            div {
                display: none;
            }

            .ant-btn-icon {
                // margin-inline-end: 0 !important;
                margin-right: 6px;
            }
        }

        .ant-btn:hover {
            border: none;
            color: var(--color-primary);

        }


    }

    .disabled-button {
        .ant-btn:hover {
            border: none;
            color: rgba(0, 0, 0, 0.25);
        }
    }

    .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input-map {
        width: calc(100% - 48px) !important;
        display: flex;
        margin: 0 24px;
        align-items: center;
        justify-content: space-between;

        .select {
            width: 20%;
            margin-top: 8px;
        }

        .inputs {
            width: 95%;
            margin-top: 8px;

        }
    }
}

.memory-type {
    display: flex;
    align-items: center;
    padding: 0 24px;

    .select-input {

        .ant-select-selector {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            // border-left:0;
        }
    }
}

.button-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
    background-color: #fff;
    width: 120px;
    flex-shrink: 0;
    text-align: left;
    div {
        display: none;
    }
}

.button-type:hover {
    border-color: var(--color-divider) !important;
    color: var( --color-text-primary ) !important;
}

