.api-keys {
    height: 100%;
    padding: 0 24px;
    background-color: var(--color-background-item);

    :global {
        .ant-spin-nested-loading {
            height: 100% !important;
        }
    }
    :global {
        .ant-spin-container {
            width: 100%;
            overflow: hidden;
            height: 100% !important;
        }
    }

    :global {
        .ant-spin-nested-loading {
            width: 100%;
        }
    }


    .table {
        width: 100%;
        padding: 0 24px;

        .ant-table-pagination-right {
            display: flex;
            justify-content: center;
        }
    }
}
.api-keys  {
    width: 100%;
    margin:0;
    .spinloading {
        padding: 0;
        height: 100% !important;

        :global {
            .ant-spin-container {
                height: 100% !important;
            }
        }
    }
}
.delete-apikey-modal {
    :global {
        .ant-modal-body {
            padding: 24px 24px 10px 24px;
            background-color: var(--color-background-item);
        }
    }
    .p {
        margin: 0 0 24px 0;
        text-align: left;
        font-family: Inter;
        color: var(--color-text-primary);
        height: 39px;

        .span {
            color: var(--color-positive);
        }
    }
}
.show-apikey-modal {
    :global {
        .ant-modal-body {
            padding: 24px 24px 10px 24px;
            background-color: var(--color-background-item);
        }
    }
    .p {
        margin: 0;
        text-align: left;
        font-family: Inter;
        line-height: 17px;
        color: var(--color-text-primary);

        .span {
            color: var(--color-positive);
        }
    }
    .copy-svg {
        path {
            stroke: white;
        }
    }
}
.create-apikey-modal {
    :global {
        .ant-modal-body {
            padding: 24px;
            background-color: var(--color-background-item);
        }
    }

    .edit-form {
        margin-left: 0;
        height: 100%;

        :global {
            .ant-form-item {
                margin-bottom: 0;
            }
        }
    }
}




.disabled-button {
    background-color: var(--color-text-disable);
}

.api-keys>.ant-spin-nested-loading>.ant-spin-container {
    padding: 0 24px;
    overflow: hidden;
    height: 100% !important;
}

.table-custom {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100% !important;
    }

    border: 1px solid var(--color-divider) !important;
    border-radius: 8px !important;
    margin-bottom: 30px;
}

.ant-table-empty {
    .ant-table-content {
        border: 1px solid var(--color-divider);
        border-radius: 8px;
    }

    .ant-table-cell {
        border: none !important;
    }
}

