.button {
    display: flex;
    justify-content: space-between;

    .next-button {
        background-color: #099250;
        color: #fff;
        margin-right: 0;
    }

    .next-button:hover {
        opacity: 0.9 !important;
        color: #fff !important;
        cursor: pointer;
    }
    .cancel-button:hover{
        border: 1px solid #e4e4e4 !important;
        color: #2b2b2b !important;
        background-color: #eee;
    }
}