.credential {
    .youreAStep1 {
        width: 100%;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: Inter;
        color: #777;
        text-align: left;
        border-bottom: 2px solid #eee;
        padding-bottom: 30px;
        margin-bottom: 30px;
        display: inline-block;
    }

    .collapse-main {
        margin: 30px auto;
        width: 1000px;
    }

    .button-bottom {
        display: flex;
        justify-content: flex-end;

        .sub-button {
            background-color: var(--color-primary);
            color: white;
        }
    }
}

.custom-header {
    display: flex;
    justify-content: space-between;

    .left-header {
        display: flex;
        align-items: center;
        margin-left: 5px;

        .img {
            margin-right: 10px;
        }
    }

    .disabled {
        position: relative;
        line-height: 16px;
    }

    .divroundedMd {
        position: relative;
        border-radius: 6px;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        box-sizing: border-box;
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 13px;
        text-align: center;
        font-size: 12px;
        color: #bfbfbf;
        font-family: 'Helvetica Neue';
    }

    .divroundedMdEnabled {
        position: relative;
        border-radius: 6px;
        background-color: white;
        border: 1px solid var(--color-primary);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 13px;
        text-align: center;
        font-size: 12px;
        color: var(--color-primary);
        font-family: 'Helvetica Neue';
    }

}

.description {
    line-height: 22px;
    color: #777;
    margin-bottom:5px

}