.action-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .top {
        flex: 1;
        display: flex;
        flex-direction: column;

        :global {
            .ant-input-affix-wrapper {
                flex: 1
            }
        }

    }


    .span {
        color: var(--color-negative);
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
    }

    .label-description {
        width: 100%;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        margin: 5px 0;
        color: #777;
        text-align: left;
        display: inline-block;
    }

    .desc-description {
        color: #777;
    }


    .error {
        opacity: 0;
        transition: opacity 0.5s ease;
        color: var(--color-negative);

        &.show {
            opacity: 1;
        }
    }

    .tip-error {
        @extend .error;
    }

    .desc-action-error {
        @extend .error;
    }

    .table-drawer {
        margin-top: 10px;
    }

    .valid-schema {
        color: var(--color-positive);
        cursor: pointer;
    }
}