.footer {
    display: flex;
    padding-top: 15px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 15px;
    justify-content: center;
    :global {
        .ant-pagination  {
            height: 40px;
        }
        .ant-pagination-prev {
            display: none;
        }
        .ant-pagination-item-link {
            display: none;
        }
        .ant-pagination-next {
            display: none;
        }
        .ant-pagination-item {
            display: none;
        }
        .ant-btn-default:hover {
            color: var( --color-text-primary ) !important;
            border: 1px solid var(--color-divider) !important;
         }
        .ant-btn-default:disabled {
            border: 1px solid var(--color-divider) !important;
            color: var( --color-text-disable ) !important;
        }
    }
    .previous-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--color-divider);
        border-right: none;
        width: 96px;
        height: 40px;
        color: var( --color-text-disable );
        background-color: white;
        border: 1px solid var(--color-divider);

        div {
            display: none;
        }
    }
    .next-button-group {
        border-top-left-radius: 0;
        width: 96px;
        height: 40px;
        color: var( --color-text-disable );
        background-color: white;

        border: 1px solid var(--color-divider);
        border-bottom-left-radius: 0;

        div {
            display: none;
        }
    }
    :global {
        .ant-pagination-options {
            height: 40px !important;
            .ant-pagination-options-size-changer {
                height: 40px;
                width: 116px;
                .ant-select-selector {
                    height: 40px;
                    width: 116px;
                    display: flex;
                    padding: 12px;
                    align-items: center;

                    .ant-select-selection-search-input {
                        height: 100%;
                    }
                    .ant-select-selection-item {
                        padding-right: 12px;
                        width: 62px;
                    }
                }
            }
        }
    }
}