@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  /* fonts */
  --text-single-100-regular: Inter;

  /* font sizes */
  --text-single-100-regular-size: 16px;
  --special-headings-display-2-size: 36px;
  --font-size-lg: 18px;

  /* Colors */
  --primary-colors-color-1: #090f1d;
  --color-primary: #087443;
  --color-list-item-selected: #087443;
  --color-text-disable: #bfbfbf;
  --color-primary-light: #D3F8DF;
  --color-primary-light-hover: #EAFAEF;
  --secondary-color-yellow: #DCDB91;
  --secondary-color-orange: #FBAA74;
  --color-positive: #099250;
  --color-positive-light-hover: rgba(9, 146, 80, 0.05);
  --color-positive-hover: #2EA26A;
  --color-negative: #EC1943;
  --color-negative-hover: #EC3C5F;
  --color-warning: #FFBB58;
  --color-text-primary: #2B2B2B;
  --color-text-secondary: #8F8F8F;
  --color-divider: #E4E4E4;
  --color-border: #E4E4E4;
  --color-table-header: #E4E4E4;
  --color-background-hover: #FAFAFA;
  --color-list-item-bg-hover: #FAFAFA;
  --color-background: #FFFFFF;
  --color-msg-background-bot: #F2F4F7;
  --color-table-gap: #E4E4E4;
  --color-clear-button-hover: #F8F8F8;
  --color-invert-text: #FFFFFF;
  --color-background-item: #FAFAFA;
  --color-agree-background: #FFF1F1;
  --color-tag-background: #f8f8f8;
  --color-negative-light-hover: rgba(236, 25, 67, 0.05);
  --color-warning-light-hover: rgba(255, 187, 88, 0.05);
  --color-black-cover: rgba(0, 0, 0, 0.1);
  --color-list-item-bg-selected: #F3F8F6;
  /* Gaps */
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-5xs: 8px;
}

:root.dark-theme {
  --color-primary: #087443;
  --color-positive-hover: #0cab5f;
  --color-positive-light-hover: rgba(14, 195, 108, 0.15);
  --color-negative: #f25e7c;
  --color-negative-hover: #f04769;
  --color-negative-light-hover: rgba(242, 94, 124, 0.15);
  --color-warning: #FFBB58;
  --color-warning-light-hover: rgba(255, 187, 88, 0.15);
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #BEBEBE;
  --color-text-disable: #6B6B6B;
  --color-divider: #404040;
  --color-border: #404040;
  --color-background-item: #121212;

  --color-table-header: #1E1E1E;
  --color-table-gap: #1E1E1E;
  --color-tag-background: #403D3D;
  --color-background: #1F1F1F;
  --color-background-hover: #2B2B2B;
  --color-invert-text: #FFFFFF;
  --color-item-background: #121212;
  --color-list-item-bg-hover: #2B2B2B;
  --color-list-item-bg-selected: #20362D;
  --color-list-item-selected: #8DF7C7;
  --color-black-cover: rgba(0, 0, 0, 0.3);

}

#root {
  width: 100vw;
  height: 100vh;
  // max-width: 1280px;
  display: flex;
  background-color: var(--color-background);
  .ant-layout {
    background-color: var(--color-background);

    section {
      flex-direction: row !important;

      .ant-layout {
        flex-direction: column !important;
        background-color: var(--color-background);

      }
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter !important;
}

.ant-modal-wrap.ant-modal-centered {
  overflow: auto !important;
  height: 100vh;
}

.tk-h1 {
  position: relative;
  font-size: 36px;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
  font-weight: bold;
}

.tk-h2 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
}

.tk-h3 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
}

.tk-h4 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
}

.tk-h5 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
}

.tk-h6 {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  color: var(--color-text-primary);
  text-align: left;
}

.tk-p {
  position: relative;
  font-size: 14px;
  font-family: Inter;
  color: var(--color-text-primary);
  font-weight: 400;
  text-align: left;
}

.tk-desc {
  position: relative;
  font-size: 14px;
  font-family: Inter;
  color: #777;
  text-align: left;
}

.tk-small-desc {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  font-family: Inter;
  text-align: left;
}

.tk-input {
  position: relative;
  font-size: 14px;
  font-family: Inter;
  color: var(--color-text-disable);
  text-align: left;
}

.ant-spin-dot-item {
  background-color: var(--color-positive) !important;
}

.ant-spin-text {
  color: var(--color-positive) !important;
}

.delete-button {
  background-color: var(--color-negative);
  color: var(--color-invert-text);
}

.delete-button:hover {
  color: var(--color-invert-text)  !important;
  ;
  cursor: pointer;
  background-color: var(--color-negative-hover) !important;
  border: 1px solid transparent !important;
}

.icon-copy {
  cursor: pointer;
  margin-left: 5px;
  flex-shrink: 0;
}

.ant-space .ant-space-item .table-edit-icon {
  border: 1px solid var(--color-divider);
  padding: 7px;
  height: 34px !important;
  width: 34px !important;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  svg {
    path {
      stroke: var(--color-text-secondary);
    }
  }
}

.img-text {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;

  }

  .a {
    margin-left: 5px
  }
}

.table-tooltip {
  .ant-tooltip-content {
    margin-top: 10px;
  }
}

.custom-toast-container {
  z-index: 99999 !important;
}

.subscription-toast {
  width: 382px;
}

#subscription-toast {
  background-color: #FF9700;
  width: 382px;
  padding: 12px;
}


.more-icon {
  path {
    stroke: var(--color-text-primary);

  }
}

.ant-modal-content {
  padding: 0 !important;
  .ant-modal-close-x {
    svg {
      g {
        path {
          stroke: var(--color-text-primary);
        }
      }

    }
  }

  .ant-modal-close {
    top: 9px;
    height: auto;
  }

  .ant-modal-header {
    padding: 10px 24px;
    border-bottom: 1px solid var(--color-divider);
    display: flex;
    align-items: center;
    margin: 0;

    background-color: var(--color-background);
    color: var(--color-text-primary);

    .ant-modal-title {
      display: flex;
      align-items: center;
      font-weight: 500 !important;
      color: var(--color-text-primary);

    }

    .title {
      font-size: 24px;
      line-height: 1;
      padding-bottom: 0;
    }
  }

  .ant-modal-body {
    border-bottom: 1px solid var(--color-divider);
    padding: 24px 20px;
    background-color: var(--color-background);
    height: auto;
  }

  .ant-modal-footer {
    height: 70px;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-background);
  }
}
.radio-label {
  color: var(--color-text-primary);
}
.modal-inner-table {
  height: 720px !important;

  .ant-modal-content {
    height: 720px !important;

    .ant-modal-body {
      height: 605px;
      overflow: hidden;
      background-color: var(--color-background-item);

      .modal-table {
        height: 570px;

        .table-border {
          height: 500px;
        }

        .ant-table-wrapper {
          min-height: 400px;

          .ant-spin-nested-loading {
            min-height: 400px;

            .ant-spin-container {
              min-height: 400px;

              .ant-table {
                min-height: 400px;

                .ant-table-container {
                  min-height: 400px;

                  .ant-table-body {
                    min-height: 300px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .select-record {
    color: var(--color-positive);
    margin-right: 10px;
  }
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: var(--color-positive) !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: var(--color-positive) !important;
  background-color: var(--color-positive) !important;
}


.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background-color: var(--color-list-item-bg-selected);
}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell-row-hover {
  background-color: var(--color-list-item-bg-selected);
}

.href {
  color: var(--color-positive-hover);
}

.href:hover {
  color: var(--color-positive-hover);
}

.table-text {
  margin: 0 !important;
  line-height: 17px;
}

.model-types {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-content: space-between;
  padding: 4px 24px 0px 0px;
  .chat_completion {
    background-color: #5291F71A;
    color: #5291f7;
    svg {
      path {
        stroke: #5291f7;
      }
    }

  }

  .rerank {
    background-color: #10B9811A;
    color: #10B981;
    svg {
      path {
        stroke: #10B981;
      }
    }
  }
  .text_embedding {
    background-color: #F973161A;
    color: #f97316;
    svg {
      path {
        stroke: #f97316;
      }
    }
  }

  .wildcard {
    background-color: #6366F11A;
    color: #6366f1;
    svg {
      path {
        stroke: #6366f1;
      }
    }
  }

  .chat_completion,
  .text_embedding,
  .rerank,
  .wildcard {
    border-radius: 8px;
    padding: 0px 8px;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
  }
}

.model-types-group {
  display: flex;

}

.ready {
  background-color: var(--color-positive-light-hover);
  color: var(--color-positive);
  min-width: 38px;
  box-sizing: content-box;
  max-width: 38px;
}

.active {
  background-color: var(--color-positive-light-hover);
  color: var(--color-positive);
  min-width: 36px;
  box-sizing: content-box;
  max-width: 38px;
}

.inviting {
  box-sizing: content-box;
  background-color: #FBFDE8;
  width: 42px;
  color: var(--color-warning);
}

.partial {
  background-color: #FBFDE8;
  width: 38px;
  box-sizing: content-box;
  color: var(--color-warning);
}

.creating {
  box-sizing: content-box;

  background-color: #FBFDE8;
  width: 50px;
  color: var(--color-warning);
}

.rejected {
  box-sizing: content-box;
  background-color: var(--color-agree-background);
  width: 50px;
  color: var(--color-negative);
}

.error {
  box-sizing: content-box;
  background-color: var(--color-negative-light-hover);
  width: 29px;
  color: var(--color-negative);
}

.paid {
  background-color: var(--color-positive-light-hover);
  color: var(--color-positive);
  min-width: 25px;
  box-sizing: content-box;
  max-width: 25px;
}

.unpaid {
  background-color: var(--color-agree-background);
  width: 41px;
  box-sizing: content-box;
  color: var(--color-negative);
}

.ready,
.partial,
.creating,
.error,
.paid,
.unpaid,
.rejected,
.active,
.inviting {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0px 8px;
  font-size: 14px;
  height: 28px;
  line-height: 20px;
}

.file_container {
  display: flex;
  padding: 24px;
  gap: 12px;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 3px;
}

.file_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  background: var(--color-background);
  border-radius: 7px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid var(--color-divider);
}

.file_icons {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid var(--color-divider);
}

.image_file {
  width: 20.36px;
  height: 28px;
}

.file_name {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 10px;
}

.file_kb {
  font-size: 12px;
  color: #777777;
  font-weight: 400;
  line-height: 14px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  color: #ffbb58;

  svg {
    width: 18px;
    height: 18px;
  }

  margin-right: 6px;
}

.loading-icon {
  width: 18px;
  height: 18px;

  svg {
    width: 18px;
    height: 18px;
  }

  animation: rotate360 1s linear infinite;
}

.ant-checkbox:hover {
  .ant-checkbox-inner {
    background-color: transparent !important;
    border: 1px solid var(--color-positive) !important;
    outline: none !important;
    box-shadow: none;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-positive);
  border-color: var(--color-positive);
}

.ant-checkbox-checked:hover {
  .ant-checkbox-inner {
    background-color: var(--color-positive) !important;
    border: 1px solid var(--color-positive) !important;
  }

  .ant-checkbox-inner::after {
    visibility: visible !important;
  }
}

.ant-checkbox-wrapper.ant-checkbox-wrapper-checked:hover {
  .ant-checkbox-inner {
    border: 1px solid var(--color-positive) !important;
    background-color: var(--color-positive) !important;
  }
}

.ant-checkbox-wrapper.ant-checkbox-group-item:hover {
  .ant-checkbox-inner {
    border: 1px solid var(--color-positive) !important;
  }

}

.ant-checkbox-group {
  .ant-checkbox-wrapper {
    span {
      color: var(--color-text-primary)
    }
  }
}

.anim-loading {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 3;
  color: var(--color-background)
}

@keyframes scaleAndRotate {

  0%,
  100% {
    transform: scale(1.5) rotate(0deg);
  }

  100% {
    transform: scale(1.5) rotate(360deg);
  }
}

.anim-loading {
  width: 18px;
  height: 18px;

  svg {
    width: 18px;
    height: 18px;
  }

  animation: scaleAndRotate 1s infinite linear;
}

.overlayStyle {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background: #777 !important;
      color: var(--color-background) !important;
    }

  }
}

.markdown-body pre code {
  width: 97%;
  overflow: auto;
}

.markdown-body pre code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.markdown-body pre code::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.markdown-body pre code::-webkit-scrollbar-thumb {
  background: #8F8F8F;
  border-radius: 4px;
}

.markdown-body pre code::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-form-item .ant-form-item-label>label {
  color: var(--color-text-primary);
}

.disabled-button {
  color: var(--color-text-disable) !important;
  border: 1px solid var(--color-divider) !important;
}

.ant-drawer-header {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-divider) !important;

  .ant-drawer-title {
    color: var(--color-text-primary)
  }
}

.ant-drawer-footer {
  border-top: 1px solid var(--color-divider) !important;

  background-color: var(--color-background);
}

.ant-drawer-body {
  background-color: var(--color-background);
}

.ant-popover-content {
  .ant-popover-inner {
    background-color: var(--color-background);
    color: var(--color-text-primary);
  }

}

.ant-btn-icon {
  svg path {
    stroke: var(--color-text-secondary)
  }
}

.img-icon-close {
  g {
    path {
      stroke: var(--color-text-primary);
    }
  }

  height: 27px;
  min-width: 27px;
}

.color-tag {
  background-color: var(--color-tag-background);
  display: flex;
  margin-bottom: 5px;
  border-radius: 8px;
  width: auto;
  padding: 4px;
  margin-right: 12px;

  .plugin-name {
    color: var(--color-text-secondary);
    font-size: 10px;
    line-height: 12px;
  }
}