.retrieval-model {
    :global {
        .ant-modal-body {
            padding: 0 24px;
            background-color: var(--color-background-item);
        }

        .ant-modal-footer {
            height: 70px;
            text-align: start;
        }
    }

    .cancelButton {
        margin-right: 10px;
    }
}
.img-icon-close {
    height: 27px;
    min-width: 27px;
    g {
        path {
          stroke: var(--color-text-primary);
        }
      }
}