.collection-modal {
    .ant-modal-body {
        min-height: 400px;
        padding: 0;
        height: 600px;
        display: flex;
        background-color: var(--color-item-background);

    }

    .retrieval-modal-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--color-item-background);

        .header-table {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 24px 0 24px;
                .ant-input {
                    flex: 1
                }

                .ant-btn {
                    margin: 0 10px;
                }

            .select-name {
                width: 110px !important;
            }

            .select-data {
                width: 150px !important;
            }

            .header-new {
                display: flex;
                justify-content: flex-end;

                .plusParent {
                    display: flex;
                }
            }

            .input-name {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .select-name {
                .ant-select-selector {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: none;
                    border: 1px solid var(--color-divider);
                    border-right: none !important;

                }
            }

            .select-name:hover {
                .ant-select-selector {
                    border: 1px solid #099250;
                    border-right: 1px solid #099250 !important;
                }
            }
        }
    }

    .no-data {
        width: 169px;
        margin: auto;

        height: 171px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .desc {
            font-size: 14px;
            font-family: Inter;
            color: var(--color-text-disable);
            margin-top: 5px;
            margin-bottom: 12px;
        }

        .prompt-button {
            background-color: var(--color-positive);
            color: white;
            margin-left: 10px;
            height: 40px;
        }

        .prompt-button:hover {
            color: var(--color-invert-text) !important;
            cursor: pointer;
            background-color: var(--color-positive-hover);
            border: 1px solid transparent;
        }
    }

    .content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        overflow: auto;
        gap: 24px;
        background-color: var(--color-item-background) !important;
        padding: 24px 24px 0 24px;
        border-bottom: 1px solid var(--color-divider);
        background-color: #fff;
        height: 504px;

        .retrieval-single {
            width: 409px;
            height: 148px;
            margin-bottom: 24px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid var(--color-divider);
            background-color: white;
            box-sizing: border-box;
            cursor: pointer;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 17px;

                .name {
                    font-size: 14px;
                    font-weight: 600;
                    font-family: Inter;
                    color: var(--color-text-primary);
                }
            }

            .desc {
                margin-top: 12px;
                margin-bottom: 12px;
                height: 68px;
                font-size: 14px;
                font-family: Inter;
                color: #777;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                color: #777;
                align-items: center;
            }
        }



        .selected-retrieval {
            background-color: #fff;
            cursor: not-allowed;
            opacity: 0.3;
            border: 1px solid var(--color-divider);

            .text {
                color: var(--color-positive);
            }
        }

        .retrieval-selected-single {
            outline: 2.5px solid var(--color-positive);
            opacity: 1;
            cursor: pointer;

        }
    }

}