.playgroundModal {
    background-color: white;
    display: flex;
    height: 100%;

    .left {
        width: 360px;
        border-right: 1px solid var(--color-clear-button-hover);
        height: 100%;

        .leftTop {
            border-bottom: 1px solid var(--color-clear-button-hover);
            padding-bottom: 16px;
            padding: 24px 24px 16px 24px;

            .modal {
                font-size: 16px;
                font-weight: 500;
                color: var( --color-text-primary );
                margin-bottom: 12px;

            }

            .img {
                height: 17px;
                margin-bottom: 12px;

                .modelName {
                    font-size: 14px;
                    font-weight: 500;
                    color: var( --color-text-primary );
                    margin-left: 5px;
                }
            }

            .select-model {
                width: 100%;
            }
        }

        .leftBottom {
            padding: 0px;

            .generateOptions {
                padding: 16px 24px;
                border-bottom: 1px solid var(--color-divider);
            }

            .configuration {
                font-weight: 500;
                color: var( --color-text-primary );
                font-size: 16px;
            }

            .responseStream {
                color: var( --color-text-primary );
                font-size: 14px;
                margin-left: 4px;
                font-weight: 500;
                // margin-bottom: 8px;
            }

            .temperature {
                height: 24px;
                font-size: 14px;
                color: var( --color-text-primary );
                line-height: 24px;
                display: flex;
                justify-content: space-between;
                // margin-bottom: 12px;
                align-items: center;
                justify-content: space-between;


                .code-input {
                    flex-basis: 70px !important;
                    text-align: right;
                    padding-right: 4px;
                    font-size: 14px;
                    border: 1px solid var(--color-divider);
                    box-sizing: border-box;
                    cursor: pointer;
                    box-shadow: none;
                }

                .code-input:hover {
                    border-radius: 8px;
                    outline: 1px solid var(--color-divider);
                }
            }

            .inputNumber {
                width: 100%;
                margin-bottom: 12px;
                border-radius: 8px;
            }
        }
    }

    .right {
        flex: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;

        .input {
            margin: 0 20px;
        }



        .content {
            // height: 950px;
            flex: 1;
            overflow: auto;

            .contentItem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid var(--color-clear-button-hover);
                padding: 12px 0;
            }

            :global {
                .ant-btn {
                    width: 63px;
                    padding: 0 6px !important;
                    height: 30px;
                    border: none;
                    box-shadow: none;

                    div {
                        display: none;
                    }

                    .ant-btn-icon {
                        // margin-inline-end: 0 !important;
                        margin-right: 6px;
                    }
                }

                .ant-btn:hover {
                    border: none;
                    color: var(--color-primary);

                }
            }

        }

        .content::-webkit-scrollbar {
            display: none;
        }

        .generate {
            padding: 24px 0 0 0;
            width: 100%;
            height: 58px;
        }
    }

    .input,
    .select {
        border: none;
        box-shadow: none;

        :global {
            .ant-select-selector {
                border: none;
                box-shadow: none;

            }

            .ant-select-arrow {
                visibility: hidden;
            }
        }
    }

    .select {
        min-width: 112px;
        box-sizing: border-box;
    }

    .input:focus,
    .select:focus {
        border: 1px solid var(--color-divider);
        box-shadow: none !important;
        transition: none !important;

        :global {
            .ant-select-arrow {
                visibility: visible;

            }
        }
    }

    .select:hover,
    .select:focus-within {
        :global {
            .ant-select-arrow {
                visibility: visible;
            }
        }
    }

    :global {

        .ant-select-focused .ant-select-selector,
        .ant-select-selector:focus,
        .ant-select-selector:active {
            border: 1px solid var(--color-divider) !important;
        }
    }


    .select:hover,
    .select:focus {
        border: none;
        box-shadow: none !important;

        :global {
            .ant-select-selector {
                border: 1px solid var(--color-divider) !important;
                transition: none !important;

            }
        }
    }

    .systemSelect {
        border: none !important;
        box-shadow: none;
        min-width: 112px;

        :global {
            .ant-select-selector {
                border: none !important;
            }

            .ant-select-arrow {
                visibility: hidden;

            }
        }

    }

    .systemSelect:hover,
    .systemSelect:focus {
        border: none;

        :global {
            .ant-select-selector {
                border: none !important;
            }

        }
    }
}

.selectAssistant {
    margin: auto;
    width: 265px;
    margin-top: calc(50vh - 80px);
    height: 161px;

    .svg {
        width: 265px;
    }

    .select-assistant {
        position: relative;
        font-size: 14px;
        font-family: Inter;
        color: var( --color-text-disable );
        text-align: center !important;
        width: 265px;
        margin-bottom: 12px;
    }

    .header-news {
        display: flex;

        justify-content: center;

        .prompt-button {
            background-color: var(--color-positive);
            color: white;
            margin: 0px;
            height: 32px;
            padding: 2px 10px;
        }

        .prompt-button:hover {
            background-color: var(--color-positive-hover);
            color: white;
            border: 1px solid transparent !important;
        }
    }

}

:global {
    .ant-slider {
        margin-left: 0;
    }
}