name: Check typo

on:
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    environment: test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Check spelling of repo
        uses: crate-ci/typos@master
        with:
          config: .typos.toml
