

.record-create-model{
    min-height: 720px;
    .ant-modal-content {
        height: 720px;
        .ant-modal-body{
            height: calc(100% - 115px);
            padding: 24px;
            .text-content {
                display: flex;
                height: 100%;
                flex-direction: column;
                .text-title {
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: Inter;
                    color: #2b2b2b;
                    text-align: left;
                }
            
                .desc {
                    width: 100%;
                    margin: 8px 0;
                    position: relative;
                    font-size: 14px;
                    font-family: Inter;
                    color: #777;
                    text-align: left;
                    display: inline-block;
                }
                .input{
                    flex: 1;
                }
            }
        }
    }
}
