.record-create-model {
    min-height: 850px;

    :global {
        .ant-modal-content {
            height: 850px;
            padding: 0;

            .ant-modal-body {
                height: calc(100% - 115px);
                padding: 0px;
                background-color: var(--color-item-background);
                overflow: auto;
            }
        }

    }

    .text-content {
        display: flex;
        flex-direction: column;

        .text-title {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            padding: 24px 24px 0 24px;
            line-height: 1;
            font-family: Inter;
            color: var(--color-text-primary);
            text-align: left;
        }

        .urlInput {
            margin: 0px 24px 24px 24px !important;
            width: calc(100% - 48px) !important;
        }

        .desc {
            width: calc(100% - 48px) !important;
            margin: 8px 0;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            font-family: Inter;
            color: var(--color-text-secondary);
            padding: 0px 24px 0 24px;
            text-align: left;
            display: inline-block;
        }

        .input {
            flex: 1;
            margin: 0 24px 32px 24px !important;
            width: calc(100% - 48px) !important;
            height: 500px;

            :global {
                textarea {
                    height: 500px;
                }
            }
        }

        .input1 {
            margin: 10px 24px 0px 24px !important;
            width: calc(100% - 48px) !important;
        }
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
        margin: 20px 0px 10px 24px;

        .span {
            color: var(--color-negative);
        }
    }

    .label-desc {
        width: calc(100% - 48px) !important;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: var(--color-text-secondary);
        text-align: left;
        display: inline-block;
        margin: 0 24px 10px 24px;
    }

    .input-number1 {
        margin: 0 24px 0px 24px !important;
        border-radius: 6px;

        width: calc(100% - 48px) !important;

    }

    .input-number {
        border-radius: 6px;
        margin: 0 24px 24px 24px !important;
        width: calc(100% - 48px) !important;
    }

    .label1 {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        font-family: Inter;
        color: var(--color-text-primary);
        text-align: left;
        padding: 24px 0 0 24px;
        border-top: 1px solid var(--color-divider);
    }

    :global {
        .ant-upload-wrapper {
            padding: 24px 24px 24px 24px;
            box-sizing: border-box;

            .ant-upload-drag:not(.ant-upload-disabled):hover {
                border: 1px dashed var(--color-divider) !important;
            }

            .ant-upload-drag-hover:not(.ant-upload-disabled) {
                border: 3px solid var(--color-primary) !important;
            }
        }

        .ant-upload-hint {
            margin-top: 0;
        }
    }

}
.typeDisabled {
    cursor: not-allowed !important;
    background-color: var(--color-grap-hover);
    opacity: 0.3;
}
.red-span {
    display: flex;
    align-items: center;
    margin-right: 4px;
    color: var(--color-negative);
}
.click-to-upload {
    color: var(--color-positive)
}