.record-create-model {
    min-height: 850px;

    :global {
        .ant-modal-content {
            height: 850px;
            padding: 0;

            .ant-modal-body {
                height: calc(100% - 115px);
                padding: 0px;
                overflow: auto;
                background-color: var(--color-item-background);
            }
        }

    }

    .text-content {
        display: flex;
        flex-direction: column;

        .text-title {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            padding: 24px 24px 0 24px;
            font-family: Inter;
            color: var(--color-text-primary);
            text-align: left;
        }

        .desc {
            width: calc(100% - 48px) !important;
            margin: 8px 0;
            position: relative;
            font-size: 14px;
            font-family: Inter;
            color: #777;
            padding: 0px 24px 0 24px;
            text-align: left;
            display: inline-block;
        }

        .input {
            flex: 1;
            margin:0 24px 32px 24px !important;
            width: calc(100% - 48px) !important;
            height: 500px;
            :global {
                textarea {
                    height: 500px;
                }
            }
        }
        .input1{
            margin:10px 24px 0px 24px !important;
            width: calc(100% - 48px) !important;
        }
    }

    .label {
        position: relative;
        font-size: 16px;
        line-height: 20px;
        font-family: Inter;
        text-align: left;
        color: var(--color-text-primary);
        margin: 20px 0px 10px 24px;

        .span {
            color: var(--color-negative);
        }
    }

    .label-desc {
        width: calc(100% - 48px) !important;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        font-family: Inter;
        color: #777777;
        text-align: left;
        display: inline-block;
        margin: 0 24px 10px 24px;
    }
    .input-number1 {
        margin:0 24px 0px 24px !important;

        width: calc(100% - 48px) !important;

    }
    .input-number {
        margin:0 24px 24px 24px !important;
        width: calc(100% - 48px) !important;
    }

    .label1 {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        font-family: Inter;
        color: var(--color-text-primary);
        text-align: left;
        padding: 24px 0 0 24px;
        border-top:1px solid var(--color-divider);
    }

}